*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
*::before,*::after{
  box-sizing: border-box;
}
body{
  background: #FFE600;
}
#codeView{
  width: 430px;
  position: fixed;
  top: 22px;
  left: 22px;
  bottom: 22px;
}
.code{
  height: 100%;
  overflow: auto;
  background: rgba(0,0,0,.1);
  padding: 16px;
  z-index: 1;
}
.preview{
  width: 100%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
.pikachu{
  height: 265px;
  position: relative;
}
.pikachu>*:not(:last-child){
  z-index: 1;
}

 #btnBox{
  position: fixed;
  right: 22px;
  bottom: 22px;
  display: flex;
  flex-direction: column;
 }
 #btnBox>button{
  border: none;
  padding: 15px;
  margin-top: 12px;
  border-radius: 50%;
  outline: none;
  background: rgba(255,255,255,.7);
 }
  #btnBox>button.active,
  #btnBox>button:hover{
    box-shadow: 1px 1px 3px 0 rgba(0,0,0,.3)
  }
@media (max-width: 427px){
  .preview{ height: 50vh; background: #ffe600;transform: translateY(0);}
  .pikachu{ transform: scale(.7); margin-top:0;}
  #codeView{ width: 100%; 
    top:0;left:0;height:50vh; }
  #btnBox{ width: 100%; flex-direction: row; justify-content: space-around;right: 0;}

}